body {
	padding-top: 60px;
	padding-bottom: 40px;
	background:#444;
	overflow:hidden;
}
footer {
	position:absolute;
	top: 100%;
	left: 100%;
	margin-top:-30px;
	margin-left:-100px;
}
.btn-inverse {
	line-height:1.4em;
}
.caret {
	vertical-align:middle;
	margin-left:4px;
}
#status_symbols {
	position:absolute;
	top:46px;
	left:8px;
}
#status_symbols:hover {
	color:white;
}
#refresh {
	display:none;
	width:400px;
	height:60px;
	position: absolute;
	top:200px;
	left:50%;
	margin-left:-200px;
	z-index:9999;
	font-size:24px;
	padding:20px;
	line-height:24px;
}
#refresh .close {
	position:relative;
	top:-10px;
	right:-10px; 
	font-size:32px;
}
.feed { 
	padding-bottom:53px;
	position:absolute;
	width:600px;
	height:400px;
	border:3px solid #333;
	border-top:0;
	box-shadow:0 0 0 1px #222;
	border-radius: 6px;
	margin:0 0 0 -3px;
}
.feed.active pre {
	opacity:1;
}
.feed pre {
	height:100%;
	padding:14px;
	padding-bottom:15px;
	line-height:22px;
	opacity:.9;
	background:#000; 
	overflow:auto;
	word-wrap:normal;
	white-space:pre;
	outline:0px solid transparent;
}
.feed pre:focus {
	outline:0px solid transparent;
}
.feed nav {
	margin:0 0 -4px; padding:0 8px; 
	height: 26px;
	background:#333;
	color:#aaa;
	line-height:24px;
	border-radius:3px;
}
.feed nav .pause-button {
	padding:1px 3px;
	color:#ccc;
	float:right;
	margin-right:-10px;
}
.feed.paused nav .pause-button {
	color:red;
}
.feed nav input {
	float:right;
	margin:2px 20px 0;
	padding:2px;
	height:12px;
	line-height:15px;
	font-size:14px;
	background:#444;
	border-color:#2a2a2a;
	color:#def;
}
.feed nav input.error {
	border:1px solid red !important;
}
.feed nav a.close {
	color:#aaa;
	line-height:16px;
	margin-right:-2px;
}
#nav-buttons {
	float:right; 
	margin:0 150px;
	opacity:.9;
}
#nav-buttons a:hover {
	text-decoration:none;
}
#nav-buttons > div {
	display:inline-block;
}
#add-feed .dropdown-menu {
	max-height: 700px;
	overflow-y: auto;
}
#add-feed .dropdown-menu input {
	margin:-2px 2px 2px;
}
#add-feed .selected > a {
	background-color: #08C;
	color:white;
	text-decoration:none;
}
#color-cube {
	z-index:99999;
	top:50px;
	right:150px;
	position: absolute;
	border:2px solid #444;
	border-radius:14px;
	cursor:pointer;
	display:none;
}
.ui-resizable-handle {
	margin-top:20px;
	margin-right:-1px;
	border-radius:3px;
	background:#222;
}
