<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Vimeo - Tailgate</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

        <!-- Le styles -->
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/jquery-ui-1.8.18.custom.css" rel="stylesheet">
        <link href="/css/monitor.css" rel="stylesheet">
</head>
<body>
    <div id="nav_bar" class="navbar navbar-fixed-top">
        <div class="navbar-inner clearfix">
            <div class="nav-collapse">
                <ul class="nav">
                    <li>
                        <a href="/">
                            <img src="/img/vimeo_light_sm.png" class="v_logo">
                            Tailgate
                            <span id="connection" class="connection_status" title="Connected"></span>
                            <span class="data_received"></span>
                        </a>
                    </li>
                </ul>
            </div><!--/.nav-collapse -->
            <div id="nav-buttons">
                <div id="tile-chooser" class="tile-chooser">
                    <div class="fullscreen tile" data-pref="fullscreen">
                        <span></span>
                    </div>
                    <div class="horizontal-split tile" data-pref="horizontal">
                        <span></span>
                    </div>
                    <div class="vertical-split tile" data-pref="vertical">
                        <span></span>
                    </div>
                    <div class="four-split tile" data-pref="four">
                        <span></span>
                    </div>
                    <div id="color-picker" class="color-picker tile">
                        <a class="dropdown-toggle" href="javascript:void(0)" data-context="color-picker">T</a>
                    </div>
                </div>
                <div id="add-feed" class="btn-group">
                    <button class="btn-inverse dropdown-toggle" data-toggle="dropdown">
                        Add a feed
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <input autofocus="true" />
                        <% if (dirs && dirs.length) { %>
                            <% dirs.forEach(function(dir) { %>
                                <li><a href="#<%= dir %>"><%= dir %></a></li>
                            <% }) %>
                        <% } %>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="feeds" class="feed_container">

    </div>

    <footer>
        <p>
            <a href="https://github.vimeows.com/Vimeo/tailgate/graphs/contributors">Contributors</a>
            &bull; <a href="https://github.vimeows.com/Vimeo/tailgate">Repository</a>
            &bull; <a href="/api">API</a>
            <p class="copy">&copy; Vimeo <%= new Date().getFullYear() %></p>
        </p>
    </footer>

    <div id="refresh" class="alert alert-info">
        <a href="#" class="close">&times;</a>
        Refreshing page in <span class="t">10</span> seconds...<br>
    </div>

    <script src="/js/jquery.1.7.2.min.js"></script>
    <script src="/js/jquery-ui.1.8.18.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/monitor.js"></script>
</body>

</html>












